exportPattern("^[[:alpha:]]+")
importFrom("spaMM","corrHLfit","pastefrom","MaternCorr","volTriangulation","rvolTriangulation",
           "subsimplices.volTriangulation","mapMM","rsimplex","fitme")
importFrom(spaMM,LogAbsDetWrap,spaMM.colors,fixef,overcat,filled.mapMM,noNonSpatialbarsMM,makeTicks,spaMM.filled.contour,
           HLCor,makenewname,ULI,HLfit,locatePointinvT, spaMMplot2D,get_residVar)
importFrom(stats,profile,confint,rnorm)
importFrom(proxy,dist,simil)
importFrom(geometry,delaunayn,convhulln)
importFrom(Matrix,rBind)
importFrom(rcdd,d2q,q2d,scdd,lpcdd,qneg,qmatmult,qmq)
importFrom(blackbox,prepareData,calcGCV,blackbox.options,addSimplexEq,isPointInCHull,redundant.addVeq,subHullWrapper,provideDevice)
importFrom(blackbox,Hreprrational,resetCHull,blackbox.getOption,as.surface,init_grid,volTriangulationWrapper)
importFrom(mvtnorm, dmvnorm, rmvnorm)
importFrom(Rmixmod,mixmodCluster,mixmodStrategy,mixmodGaussianModel)
importFrom("graphics", "abline", "axis", "curve", "filled.contour", "lines", "par", "plot", "points", "plot.new")
importFrom("stats", "deviance", "glm", "var", "as.formula", "cov", "dnorm", "fitted", "optim", "pchisq", "pnorm", "predict", "qchisq", "runif", "uniroot")
importFrom("stats", "binomial", "poisson", "constrOptim", "dchisq")
importFrom("utils","packageVersion")
importFrom("methods", "slot", "new")
importFrom("numDeriv", "grad", "hessian", "jacobian")
importFrom("graphics", "text")
importFrom("grDevices", "adjustcolor")
importFrom("viridis", "viridis")
export(mapMM) ## from spaMM
export(resetCHull,isPointInCHull) ## from blackbox
export(init_grid) # from blackbox, needs to be doc'ed in Infusion itself as it is explicitly used in doc 

S3method(profile, SLik)
S3method(profile, SLik_j)
S3method(plot, SLik)
S3method(print, SLik)
S3method(print, SLik_j)
S3method(summary, SLik)
S3method(summary, SLik_j)
S3method(print, logLs)
S3method(summary, logLs)
S3method(plot, SLikp)
S3method(plot, SLik_j)
S3method(print, SLikp)
S3method(summary, SLikp)
S3method(confint,SLik)
S3method(confint,SLik_j)
S3method(confint,SLikp)
S3method(predict,SLik)
S3method(predict,SLik_j)
S3method(predict,SLikp)
S3method(predict,dMixmod)
S3method(predict,MixmodResults)
S3method(project,default)
S3method(project,character)
S3method(refine,SLik)
S3method(refine,SLik_j)
S3method(refine,SLikp)
S3method(refine,default)
S3method(infer_surface,logLs)
S3method(infer_surface,tailp)
S3method(calc.lrthreshold,SLik)
S3method(calc.lrthreshold,SLikp)
S3method(calc.lrthreshold,default)
